<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/fontSize.js"></script>
    <script src="js/swiper.js"></script>
</head>

<body>
    <div id="wrapContent">
        <div class="top-fixed">
            <div class="head-comp">
                <a href="javascript:;" class="logo"></a>
                <a href="javascript:;" class="download-app-btn">下载酷狗</a>
                <a href="javascript:;" class="search-icon"></a>
            </div>
            <div class="top-nav" style="display: none;">
                <ul>
                    <li><a href="javascript:;" class="active">新歌</a></li>
                    <li><a href="javascript:;">排行</a></li>
                    <li><a href="javascript:;">歌单</a></li>
                    <li><a href="javascript:;">歌手</a></li>
                </ul>
            </div>
            <div class="top-bar">
                <i class="top-bar-back"></i>
                <p class="top-bar-title">华语男歌手</p>
            </div>
        </div>
        <div class="clear-top-fix">
            <div class="clear-head"></div>
            <div class="clear-nav"></div>
        </div>
        <div class="ph-items-list">
            <ul>
                <li class="gd-item gs-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                        <div class="ph-item-avat"><img src="images/pr2.jpg" alt=""></div>
                        <div class="ph-item-text">
                            <div class="gd-box">
                                <div class="vt">
                                    <span class="gd-name">酷狗飙升榜</span>
                                    <span class=gd-host><i class="icon-ej"></i>201545</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gd-item gs-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                        <div class="ph-item-avat"><img src="images/pr2.jpg" alt=""></div>
                        <div class="ph-item-text">
                            <div class="gd-box">
                                <div class="vt">
                                    <span class="gd-name">酷狗飙升榜</span>
                                    <span class=gd-host><i class="icon-ej"></i>201545</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gd-item gs-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                        <div class="ph-item-avat"><img src="images/pr2.jpg" alt=""></div>
                        <div class="ph-item-text">
                            <div class="gd-box">
                                <div class="vt">
                                    <span class="gd-name">酷狗飙升榜</span>
                                    <span class=gd-host><i class="icon-ej"></i>201545</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gd-item gs-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                        <div class="ph-item-avat"><img src="images/pr2.jpg" alt=""></div>
                        <div class="ph-item-text">
                            <div class="gd-box">
                                <div class="vt">
                                    <span class="gd-name">酷狗飙升榜</span>
                                    <span class=gd-host><i class="icon-ej"></i>201545</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gd-item gs-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                        <div class="ph-item-avat"><img src="images/pr2.jpg" alt=""></div>
                        <div class="ph-item-text">
                            <div class="gd-box">
                                <div class="vt">
                                    <span class="gd-name">酷狗飙升榜</span>
                                    <span class=gd-host><i class="icon-ej"></i>201545</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gd-item gs-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                        <div class="ph-item-avat"><img src="images/pr2.jpg" alt=""></div>
                        <div class="ph-item-text">
                            <div class="gd-box">
                                <div class="vt">
                                    <span class="gd-name">酷狗飙升榜</span>
                                    <span class=gd-host><i class="icon-ej"></i>201545</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gd-item gs-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                        <div class="ph-item-avat"><img src="images/pr2.jpg" alt=""></div>
                        <div class="ph-item-text">
                            <div class="gd-box">
                                <div class="vt">
                                    <span class="gd-name">酷狗飙升榜</span>
                                    <span class=gd-host><i class="icon-ej"></i>201545</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="gd-item gs-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                        <div class="ph-item-avat"><img src="images/pr2.jpg" alt=""></div>
                        <div class="ph-item-text">
                            <div class="gd-box">
                                <div class="vt">
                                    <span class="gd-name">酷狗飙升榜</span>
                                    <span class=gd-host><i class="icon-ej"></i>201545</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
