<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/fontSize.js"></script>
    <script src="js/swiper.js"></script>
</head>

<body>
    <div id="wrapContent">
        <div class="top-fixed">
            <div class="head-comp">
                <a href="javascript:;" class="logo"></a>
                <a href="javascript:;" class="download-app-btn">下载酷狗</a>
                <a href="javascript:;" class="search-icon"></a>
            </div>
            <div class="top-nav">
                <ul>
                    <li><a href="javascript:;" class="active">新歌</a></li>
                    <li><a href="javascript:;">排行</a></li>
                    <li><a href="javascript:;">歌单</a></li>
                    <li><a href="javascript:;">歌手</a></li>
                </ul>
            </div>
        </div>
        <div class="clear-top-fix">
        	<div class="clear-head"></div>
        	<div class="clear-nav"></div>
        </div>

        <div class="gs-content">
            <ul class="gs-item-list">
                <li class="gs-typ-item"><a href="javascript:;"><span>热门歌手</span></a> <i></i></li>
            </ul>
            <ul class="gs-item-list">
                <li class="gs-typ-item"><a href="javascript:;"><span>热门歌手</span></a> <i></i></li>
                <li class="gs-typ-item"><a href="javascript:;"><span>热门歌手</span></a> <i></i></li>
                <li class="gs-typ-item"><a href="javascript:;"><span>热门歌手</span></a> <i></i></li>
            </ul>
            <ul class="gs-item-list">
                <li class="gs-typ-item"><a href="javascript:;"><span>热门歌手</span></a> <i></i></li>
                <li class="gs-typ-item"><a href="javascript:;"><span>热门歌手</span></a> <i></i></li>
                <li class="gs-typ-item"><a href="javascript:;"><span>热门歌手</span></a> <i></i></li>
            </ul>
            <ul class="gs-item-list">
                <li class="gs-typ-item"><a href="javascript:;"><span>热门歌手</span></a> <i></i></li>
                <li class="gs-typ-item"><a href="javascript:;"><span>热门歌手</span></a> <i></i></li>
            </ul>
        </div>
    </div>
</body>

</html>
