<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/zepto.js"></script>
    <script src="js/fontSize.js"></script>
    <script src="js/swiper.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div id="wrapContent">
        <div class="top-fixed">
            <div class="head-comp">
                <a href="javascript:;" class="logo"></a>
                <a href="javascript:;" class="download-app-btn">下载酷狗</a>
                <a href="javascript:;" class="search-icon"></a>
            </div>
            <div class="top-nav" hidden>
                <ul>
                    <li><a href="javascript:;" class="active">新歌</a></li>
                    <li><a href="javascript:;">排行</a></li>
                    <li><a href="javascript:;">歌单</a></li>
                    <li><a href="javascript:;">歌手</a></li>
                </ul>
            </div>
            <div class="top-bar opacted-bar">
                <i class="top-bar-back"></i>
                <p class="top-bar-title">华语男歌手</p>
            </div>
        </div>
        <div class="clear-top-fix">
            <div class="clear-head"></div>
            <!-- <div class="clear-nav"></div> -->
        </div>
        <div class="heji-banner">
            <a href="javascript:;" class="slider-link"><img src="images/heji.jpg" alt=""></a>
        </div>
    </div>
    <div class="index-sings-list top-change-data">
        <div class="list-js pr">
        	<p class="list-js-text hide-text">《围炉音乐会》是由四川卫视原创出品，北京银河映画制作完成的大型音乐故事秀节目。每周会邀请60—90年代的大咖歌手及其圈内朋友，通过采取歌手自筹演唱会的外景纪实秀，加现场live围炉音乐会的创新模式呈现。并邀请梁翘柏担任音乐总顾问，吉杰担任音乐会主理人，同时节目还配备了一线的编曲团队和顶级乐队，为观众打造豪华的视听盛宴。节目首批录制邀请到的嘉宾有：黎明、费玉清、辛晓琪、张宇、品冠、黄大炜、魏晨、雷颂德等八人，带给了现场观众一场场绝无仅有的视听风暴。</p>
        	<div class="show-more"><i></i></div>
        </div>
        <!-- <script>$(".show-more").click(function(){alert(1)})</script> -->
        <ul>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
            <li class="id-list-item border1px-bottom">
                <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                <div class="id-down-cont">
                    <a href="javascript:;" class="id-down-icon"></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="bot-player">
        <div class="warp pr">
            <a href="javascript:;" class="song-msg">
                <div class="play-avat"><img src="images/pr1.jpg" alt=""></div>
                <div class="play-msg">
                    <p class="play-til">痛快人生</p>
                    <p class="play-er">孙露</p>
                </div>
            </a>
            <div class="play-control">
                <i class="song-close"></i>
                <i class="song-next"></i>
                <i class="song-download"></i>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
