<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/fontSize.js"></script>
    <script src="js/swiper.js"></script>
</head>

<body>
    <div id="wrapContent">
        <div class="top-fixed">
            <div class="head-comp">
                <a href="javascript:;" class="logo"></a>
                <a href="javascript:;" class="download-app-btn">下载酷狗</a>
                <a href="javascript:;" class="search-icon"></a>
            </div>
            <div class="top-nav">
                <ul>
                    <li><a href="javascript:;" class="active">新歌</a></li>
                    <li><a href="javascript:;">排行</a></li>
                    <li><a href="javascript:;">歌单</a></li>
                    <li><a href="javascript:;">歌手</a></li>
                </ul>
            </div>
        </div>
        <div class="clear-top-fix">
            <div class="clear-head"></div>
            <div class="clear-nav"></div>
        </div>
        <div class="banner-comp">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:;" class="slider-link"><img src="images/banner.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;" class="slider-link"><img src="images/banner.jpg" alt=""></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;" class="slider-link"><img src="images/banner.jpg" alt=""></a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="index-sings-list">
            <ul>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
                <li class="id-list-item border1px-bottom">
                    <a href="javascript:;" class="id-name">孙楠 - 向往【鸡毛飞上天主题曲】</a>
                    <div class="id-down-cont">
                        <a href="javascript:;" class="id-down-icon"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="bot-player">
            <div class="warp pr">
                <a href="javascript:;" class="song-msg">
                    <div class="play-avat"><img src="images/pr1.jpg" alt=""></div>
                    <div class="play-msg">
                        <p class="play-til">痛快人生</p>
                        <p class="play-er">孙露</p>
                    </div>
                </a>
                <div class="play-control">
                    <i class="song-close"></i>
                    <i class="song-next"></i>
                    <i class="song-download"></i>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
var mySwiper = new Swiper('.swiper-container', {
    loop: true,
    autoplay: 3000,
    speed: 500,
    pagination: '.swiper-pagination',
    autoplayDisableOnInteraction: false,
})
</script>

</html>
