<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/fontSize.js"></script>
    <script src="js/swiper.js"></script>
</head>

<body>
    <div id="wrapContent">
        <div class="top-fixed">
            <div class="head-comp">
                <a href="javascript:;" class="logo"></a>
                <a href="javascript:;" class="download-app-btn">下载酷狗</a>
                <a href="javascript:;" class="search-icon"></a>
            </div>
            <div class="top-nav">
                <ul>
                    <li><a href="javascript:;" class="active">新歌</a></li>
                    <li><a href="javascript:;">排行</a></li>
                    <li><a href="javascript:;">歌单</a></li>
                    <li><a href="javascript:;">歌手</a></li>
                </ul>
            </div>
        </div>
        <div class="clear-top-fix">
            <div class="clear-head"></div>
            <div class="clear-nav"></div>
        </div>
        <div class="ph-items-list">
            <ul>
                <li class="ph-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                    	<div class="ph-item-avat"><img src="../assets/images/ph.png" alt=""></div>
                    	<p class="ph-item-text"><span>酷狗飙升榜</span></p>
                    	<div class="ph-r-ico"></div>
                    </a>
                </li>
                <li class="ph-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                    	<div class="ph-item-avat"><img src="../assets/images/ph.png" alt=""></div>
                    	<p class="ph-item-text"><span>酷狗飙升榜</span></p>
                    	<div class="ph-r-ico"></div>
                    </a>
                </li>
                <li class="ph-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                    	<div class="ph-item-avat"><img src="../assets/images/ph.png" alt=""></div>
                    	<p class="ph-item-text"><span>酷狗飙升榜</span></p>
                    	<div class="ph-r-ico"></div>
                    </a>
                </li>
                <li class="ph-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                    	<div class="ph-item-avat"><img src="../assets/images/ph.png" alt=""></div>
                    	<p class="ph-item-text"><span>酷狗飙升榜</span></p>
                    	<div class="ph-r-ico"></div>
                    </a>
                </li>
                <li class="ph-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                    	<div class="ph-item-avat"><img src="../assets/images/ph.png" alt=""></div>
                    	<p class="ph-item-text"><span>酷狗飙升榜</span></p>
                    	<div class="ph-r-ico"></div>
                    </a>
                </li>
                <li class="ph-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                    	<div class="ph-item-avat"><img src="../assets/images/ph.png" alt=""></div>
                    	<p class="ph-item-text"><span>酷狗飙升榜</span></p>
                    	<div class="ph-r-ico"></div>
                    </a>
                </li>
                <li class="ph-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                    	<div class="ph-item-avat"><img src="../assets/images/ph.png" alt=""></div>
                    	<p class="ph-item-text"><span>酷狗飙升榜</span></p>
                    	<div class="ph-r-ico"></div>
                    </a>
                </li>
                <li class="ph-item border1px-bottom">
                    <a href="javascript:;" class="dp_block pr">
                    	<div class="ph-item-avat"><img src="../assets/images/ph.png" alt=""></div>
                    	<p class="ph-item-text"><span>酷狗飙升榜</span></p>
                    	<div class="ph-r-ico"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
